<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Khua</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.video</string>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.avi</string>
				<string>public.mpeg</string>
				<string>public.mpeg-2-video</string>
				<string>com.apple.m4v-video</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
				<string>flac</string>
				<string>m4a</string>
				<string>aac</string>
				<string>wav</string>
				<string>ogg</string>
				<string>opus</string>
				<string>wv</string>
				<string>ape</string>
				<string>tta</string>
				<string>aiff</string>
				<string>aif</string>
				<string>amr</string>
				<string>ac3</string>
				<string>dts</string>
				<string>mka</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mkv</string>
				<string>mov</string>
				<string>webm</string>
				<string>avi</string>
				<string>mpg</string>
				<string>mpeg</string>
				<string>ts</string>
				<string>m2ts</string>
				<string>mts</string>
				<string>flv</string>
				<string>wmv</string>
				<string>m4v</string>
				<string>3gp</string>
				<string>rmvb</string>
				<string>rm</string>
				<string>mxf</string>
				<string>dv</string>
				<string>av1</string>
				<string>obu</string>
				<string>vvc</string>
				<string>h266</string>
				<string>cavs</string>
				<string>dnxhd</string>
				<string>dnxhr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Khua</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Used to find subtitles and the next episode in the folder of the video you open.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Used to find subtitles and the next episode in the folder of the video you open.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Used to find subtitles and the next episode in the folder of the video you open.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Khua contributors</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Used to find subtitles and the next episode in the folder of the video you open.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Used to find subtitles and the next episode in the folder of the video you open.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Khua generates subtitles from the audio of the media you open. Processing takes place on this Mac.</string>
	<key>SPProductName</key>
	<string>Khua Player</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-matroska</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebM Video</string>
			<key>UTTypeIdentifier</key>
			<string>org.webmproject.webm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flash Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.flash.video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-flv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Windows Media Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.windows-media-wmv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wmv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-ms-wmv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RealMedia Variable Bitrate</string>
			<key>UTTypeIdentifier</key>
			<string>com.real.realmedia-vbr</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmvb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.rn-realmedia-vbr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Material Exchange Format</string>
			<key>UTTypeIdentifier</key>
			<string>org.smpte.mxf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/mxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AV1 Elementary Video</string>
			<key>UTTypeIdentifier</key>
			<string>app.khuaplayer.av1-video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>av1</string>
					<string>obu</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VVC Elementary Video</string>
			<key>UTTypeIdentifier</key>
			<string>app.khuaplayer.vvc-video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vvc</string>
					<string>h266</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CAVS Elementary Video</string>
			<key>UTTypeIdentifier</key>
			<string>app.khuaplayer.cavs-video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cavs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DNxHD and DNxHR Elementary Video</string>
			<key>UTTypeIdentifier</key>
			<string>app.khuaplayer.dnx-video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dnxhd</string>
					<string>dnxhr</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
